<div class="docs-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the blog…</option>
    <option value="/news/">News</option>
    <option value="/docs/history/">Releases</option>
    <optgroup label="Posts">
      {% assign active_blog_posts = site.categories.blog | where_exp: "post", "post.archived != true" %}
      {% for post in active_blog_posts %}
      <option value="{{ post.url }}">{{ post.title }}</option>
      {% endfor %}
    </optgroup>
  </select>
</div>
