<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Overview</h4>
    <ul>
      <li class="{% if page.title == 'News' %}current{% endif %}">
        <a href="/news/">All Posts</a>
      </li>
      <li class="{% if page.title == 'Releases' %}current{% endif %}">
        <a href="/docs/history/">All Releases</a>
      </li>
    </ul>
    <h4>Posts</h4>
    <ul>
        {% assign active_blog_posts = site.categories.blog | where_exp: "post", "post.archived != true" %}
        {% for post in active_blog_posts %}
        <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">» {{ post.short-title }}</a>
        </li>
        {% endfor %}
    </ul>
  </aside>
</div>
