<div class="samples-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the samples…</option>
    <option value="/samples/">Overview</option>
    <option value="/samples/todo-app/">TodoList app</option>
    <option value="/samples/run/">Running</option>
    {% assign sorted_posts = site.categories.samples | sort: 'group' %}
    {% for post in sorted_posts %}
    <option value="{{ post.url }}">{{ post.name }}</option>
    {% endfor %}
  </select>
</div>
