<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Samples</h4>
    <ul>
      <li class="{% if page.title == 'Samples' %}current{% endif %}">
        <a href="/samples/">Overview</a>
      </li>
      <li class="{% if page.title == 'TodoList' %}current{% endif %}">
        <a href="/samples/todo-app">TodoList application</a>
      </li>
      <li class="{% if page.title == 'Running' %}current{% endif %}">
        <a href="/samples/run">Running</a>
      </li>
    </ul>
    <h4>Configuration</h4>
    <ul style="margin-top: 5px;">
      {% assign sorted_posts = site.categories.samples | sort: 'group' %}
      {% assign group = "configuration" %}

      {% for post in sorted_posts %}
      {% if group != post.group %}
    </ul>

    <h4>{{ post.group | capitalize }}</h4>
    <ul style="margin-top: 5px;">
      {% assign group = post.group %}
      {% endif %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </aside>
</div>
