<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Samples</h4>
    <ul>
      <li class="{% if page.title == 'Samples' %}current{% endif %}">
        <a href="/samples/">Overview</a>
      </li>
      <li class="{% if page.title == 'TodoList' %}current{% endif %}">
        <a href="/samples/todo-app">TodoList App</a>
      </li>
      <li class="{% if page.title == 'Camel EIP' %}current{% endif %}">
        <a href="/samples/camel-eip">Camel EIP</a>
      </li>
    </ul>
    {% assign all_posts = site.categories.samples | where_exp: "post", "post.archived != true" %}
      {% assign group_names = "" %}
      {% for post in all_posts %}
        {% assign post_groups = post.group | join: "," | split: "," %}
        {% assign first_group = post_groups | first %}
        {% if group_names == "" %}
          {% assign group_names = first_group %}
        {% else %}
          {% unless group_names contains first_group %}
            {% assign group_names = group_names | append: "," | append: first_group %}
          {% endunless %}
        {% endif %}
      {% endfor %}
      {% assign sorted_groups = group_names | split: "," | sort %}

      {% for grp in sorted_groups %}
    <h4>{{ grp | upcase }}</h4>
    <ul style="margin-top: 5px;">
      {% for post in all_posts %}
        {% assign post_groups = post.group | join: "," | split: "," %}
        {% assign first_group = post_groups | first %}
        {% if first_group == grp %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.name }}</a>
      </li>
        {% endif %}
      {% endfor %}
    </ul>
      {% endfor %}
  </aside>
</div>
