---
layout: samples
---

<article>
  <h2>
    {{ page.title }}
    <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
  </h2>
  <div class="right">
    {% if page.group != "common" %}
    <a href="https://github.com/citrusframework/citrus-samples/blob/master/{{ page.group }}/{{ page.name }}" target="_blank">
      <i class="fa fa-pencil"></i>&nbsp;View source code
    </a>
    {% endif %}
    {% if page.group == "common" %}
    <a href="https://github.com/citrusframework/citrus-samples/blob/master/{{ page.name }}" target="_blank">
      <i class="fa fa-pencil"></i>&nbsp;View source code
    </a>
    {% endif %}
  </div>
  <span class="post-category">
    <span class="label">
      {{ page.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-content">
    {{ content }}
  </div>
</article>
