---
layout: samples
title: Samples
permalink: /samples/
name: sample-overview
---

<article>
  <h2>
    Samples & Quickstarts
  </h2>
  <div class="post-content">
    <p>We try to give you example projects as a good starting point for your very own Citrus testing project.</p>

    <p>The Citrus sample applications try to demonstrate how Citrus works in different integration test scenarios.
        The projects are executable with Maven and should give you a detailed picture how Citrus testing works.</p>

    <p>Please have a look at the following code repositories that provide Citrus examples:</p>

    <ul>
      <li><a href="https://github.com/citrusframework/citrus-samples" target="_blank">citrus-samples</a></li>
      <li><a href="https://github.com/citrusframework/citrus-quarkus-examples" target="_blank">citrus-quarkus-examples</a></li>
      <li><a href="https://github.com/christophd/citrus-camel-jbang-demo" target="_blank">citrus-camel-jbang-demo</a></li>
      <li><a href="https://github.com/apache/camel-jbang-examples" target="_blank">camel-jbang-examples</a></li>
    </ul>

    <p>Each sample demonstrates a special aspect of how to use Citrus.
        Most of the samples use a simple system under test as an application, like the <b><a href="todo-app">todo-list</a></b> application.
        Explore the following categories of sample projects. We hope this helps to find the right sample project for your needs.</p>
  </div>

  <div class="grid">
    {% assign active_posts = site.categories.overview | where_exp: "post", "post.archived != true" %}
    {% for post in active_posts %}
    <div class="unit one-third">
      {% if post.icon != nil %}
      <h2><i class="fa fa-{{ post.icon }}" style="width: 1em;height: 1em;"></i>&nbsp;{{ post.group | capitalize }}</h2>
      {%endif%}
      {% if post.image != nil %}
      <h2><img src="{{ post.image }}"/>&nbsp;{{ post.group | capitalize }}</h2>
      {%endif%}
      <p>{{ post.description }}<br>
        <a class="prominent" href="{{ post.permalink }}">&rarr; {{ post.name }}</a>
      </p>
    </div>
    {% endfor %}
  </div>

  <div class="grid">
    <p>You can explore many more sample projects in the following section.
        The samples should help you to learn about the capabilities of Citrus.
        Please find following list of samples and their primary objective</p>

    <table>
      <thead>
        <tr>
          <th style="width: 15em;">Configuration</th>
          <th style="text-align:center;">Description</th>
          <th style="text-align:center;">Sources</th>
        </tr>
      </thead>
      <tbody>
        {% assign sorted_posts = site.categories.samples | where_exp: "post", "post.archived != true" | sort: 'group' %}
        {% assign group = "configuration" %}

        {% for post in sorted_posts %}
        {% if group != post.group %}
      </tbody>
    </table>

    {% assign group = post.group %}
    <br/>

    <table>
      <thead>
      <tr>
        <th style="width: 15em;">{{ group | capitalize }}</th>
        <th style="text-align:center;">Description</th>
        <th style="text-align:center;">Sources</th>
      </tr>
      </thead>
      <tbody>
        {% endif %}
        <tr>
          <td><a href="{{ post.permalink }}">{{ post.name }}</a></td>
          <td style="text-align:center;">{{ post.description }}</td>
          {% if post.folder != "common" %}
          <td style="text-align:center;"><a href="https://github.com/citrusframework/{{ post.repository }}/blob/master/{{ post.folder }}/{{ post.name }}" target="_blank"><i class="fa fa-pencil"></i></a></td>
          {% endif %}
          {% if post.folder == "common" %}
          <td style="text-align:center;"><a href="https://github.com/citrusframework/{{ post.repository }}/blob/master/{{ post.name }}" target="_blank"><i class="fa fa-pencil"></i></a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="grid">
    <p>Pick your sample application for try out and got to the respective folder. Each sample is executable on your host. You just need Maven, Java and a git client.
      Refer to the detailed instructions in the sample <b><a href="https://github.com/citrusframework/citrus-samples/blob/master/README.md" target="_blank">README</a></b>.</p>

    <p>Of course, we appreciate any kind of help that you can give us in order to make things easy for Citrus users. So if you have
      a sample worth reading for others please let us know. Also, if you are missing a sample because you do not know how to accomplish the Citrus
      use case please do not hesitate to contact us. You may also open a new issue in the <b><a href="https://github.com/citrusframework/citrus-samples/issues" target="_blank">Citrus samples</a></b> repository.</p>
  </div>
</article>
